@use "../../styles/globals.scss";

.home-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: rgb(39, 46, 52);
}
.background {
  width: 60%;
  height: 60%;
  @include globals.respond-to(mobile) {
    display: none;
  }
}
